{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if mensagem %}
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>Atenção! </strong>{{ mensagem }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
<center>
  <div class="container index">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'img/img1.png' %}" class="d-block w-40" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/img5.png' %}" class="d-block w-40" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próxima</span>
      </a>
    </div>
  </div>
</center>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4 title">EsteJa</h1>
    <h3 class="title">Plataforma de Auxílio ao Diagnóstico de Covid-19</h3>
    <hr class="my-4">
    <center>
      <a class="btn btn-info" href="{% url 'core:info' %}" role="button">Mais Informações</a>
    </center>
  </div>
</div>
{% endblock %}
